* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  color: white;
  box-sizing: border-box;
  animation: show 3s forwards;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
.home-bg {
  background: url(../img/technology/background-technology-desktop.jpg) no-repeat;
  background-size: cover;
  height: auto;
}
.home-nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-bottom: 100px;
  position: relative;
  align-items: center;
}
.home-nav > div img {
  margin-left: 100px;
}
.menu {
  display: flex;
  gap: 30px;
  font-size: 20px;
  align-items: center;
  padding: 35px 307px 35px 104px;
  backdrop-filter: blur(132px);
}
.menu::before {
  content: "";
  display: block;
  width: 600px;
  height: 2px;
  background: #434343;
  position: absolute;
  margin-left: -659px;
}
.menu li a {
  text-transform: uppercase;
  padding-bottom: 32px;
  transition: 0.3s;
}
.menu li a:hover {
  border-bottom: 4px solid #fff;
  border-radius: 3px;
}
.hamburger {
  display: none;
}
@media (max-width: 1300px) {
  .hamburger {
    display: block;
    position: fixed;
    z-index: 100;
    top: 4rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  .closeIcon {
    display: none;
  }
  .menu {
    position: fixed;
    display: block;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    right: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding: 120px 46px 0px 51px;
  }
  .menu li {
    margin-bottom: 60px;
    text-align: center;
  }
  .menu li a {
    padding-bottom: 5px;
  }
  .showMenu {
    transform: translateY(0);
  }
  .menu::before {
    display: none;
  }
}

.home-content {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 80px;
  margin-top: 200px;
  align-items: center;
}

.cor-p-home {
  color: #6e6e6e;
}
.home-content-text {
  font-family: "barlow";
  display: grid;
}
.home-content-text h1 {
  font-family: "playfair simplay";
  font-size: 5vh;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 60px;
}
.home-content-text h2 {
  max-width: 800px;
  font-size: 25px;
  letter-spacing: 0.5ch;
  color: rgb(177, 177, 177);
}
.home-content-text p {
  max-width: 400px;
  font-size: 20px;
  color: rgb(177, 177, 177);
  margin-bottom: 30px;
  padding-bottom: 60px;
}
.border-bottom {
  border-bottom: 2px solid rgb(61, 61, 61);
}
.leyalter li {
  padding: 25px 35px;
  border-radius: 50%;
  font-size: 2rem;
  margin-bottom: 80px;
  margin-top: 8px;
  border: 2px solid white;
  transition: 0.3s;
  cursor: pointer;
}
.leyalter li:hover {
  background: white;
  color: #434343;
}
.meet-your {
  margin-left: 150px;
  font-size: 2rem;
}
@media (max-width: 1300px) {
  body {
    padding: 20px;
  }
  .home-bg {
    background: url(../img/technology/background-technology-mobile\\(2\).jpg)
      no-repeat;
    background-size: cover;
    height: auto;
  }
  .home-content {
    margin: auto;
    gap: 0px;
    grid-template-columns: 1fr;
  }
  .home-nav {
    padding-top: 47px;
    padding-bottom: 400px;
  }
  .home-nav-item {
    display: grid;
    padding: 0%;
    backdrop-filter: none;
  }
  .leyalter {
    display: flex;
    margin: auto;
    gap: 60px;
  }
  .home-content-text {
    margin: auto;
    text-align: center;
  }
  .foget-img {
    margin: auto;
  }
  .meet-your {
    font-size: 37px;
    letter-spacing: 10px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 800px) {
  .home-content-text cite,
  .home-content-text h1,
  .home-content-text p {
    font-size: 7vw;
  }
  .home-content-text p {
    font-size: 3vw;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-3px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-content section {
  display: none;
}
.js-content section.ativo {
  display: block;
  animation: show 3s forwards;
}
